.field-items {
  &__header {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
  }

  &__column {
    font-weight: bold;
    flex: 1;
  }
}